<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BetterReader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BetterReader.Properties.Settings>
            <setting name="MyState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="MySize" serializeAs="String">
                <value>941, 758</value>
            </setting>
            <setting name="MyLoc" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SplitterDistance1" serializeAs="String">
                <value>310</value>
            </setting>
            <setting name="SplitterDistance2" serializeAs="String">
                <value>58</value>
            </setting>
            <setting name="SplitterDistance3" serializeAs="String">
                <value>338</value>
            </setting>
            <setting name="SplitterDistance4" serializeAs="String">
                <value>36</value>
            </setting>
            <setting name="SplitterDistance5" serializeAs="String">
                <value>57</value>
            </setting>
            <setting name="HideReadFeeds" serializeAs="String">
                <value>True</value>
            </setting>
        </BetterReader.Properties.Settings>
    </userSettings>
</configuration>